# Telegram
TELEGRAM_TOKEN=123456789:AAxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# MySQL RDS
DB_HOST=mydb.xxxxxxxxx.ap-southeast-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=my_database
DB_USER=admin
DB_PASSWORD=your_secure_password

 